<html>
    <head>
        <link href="lib/c3/c3.css" rel="stylesheet">
        <link href="index.css" rel="stylesheet">

        <script src="lib/d3/d3.js" charset="utf-8"></script>
        <script src="lib/c3/c3.js"></script>    
        <script src="lib/jquery/dist/jquery.min.js"></script>    
        <script src="format-chart-def.js"></script>
        <script src="lib/moment/min/moment.min.js"></script>    
        <script src="index.js"></script>
    </head>

    <body>
        <div id="chart"></div>
    </body>    
</html>